/*

/classes/*
/classes/XLite/*
/classes/XLite/Module/*
/classes/XLite/Module/XC/*
!/classes
!/classes/XLite
!/classes/XLite/Module
!/classes/XLite/Module/XC
!/classes/XLite/Module/XC/Camera51

/skins/*
/skins/admin/*
/skins/admin/modules/*
/skins/admin/modules/XC/*
!/skins/
!/skins/admin/
!/skins/admin/modules/
!/skins/admin/modules/XC/
!/skins/admin/modules/XC/Camera51
*.gitignore