{##
 # Instructions form field template
 #}

<br><br><br>
<p>
<a class="regular-button" href="more info"  target="_BLANK" style="background-color:  #bfbfbf;color:white"><span>More info</span></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

{{ t(this.processUrls(this.getParam('help')))|raw }}</p>
