{##
 # Instructions form field template
 #}
<h2>{{ t(this.getParam('label')) }}</h2>
<br>
<p style="font-size: 19px">{{ t(this.processUrls(this.getParam('help')))|raw }}</p>
<p style="font-size: 19px">2. Receive 'User Id' and 'Access Token', copy and paste them here -</p>