{##
 # Background Remover option
 #}

<li role="presentation" class="divider"></li>
<li role="presentation" class="remove-background">
 <a role="menuitem" tabindex="-1" href="#" >
  <i class="button-icon fa fa-eraser"></i>
  <span>{{ t('Remove background') }}</span>
 </a>
 <a role="menuitem" tabindex="-1" href="#" >
  <i class="button-icon fa fa-eraser"></i>
  <span>{{ t('Edit image') }}</span>
 </a>
</li>
 