{##
 # Instructions form field template
 #}

<br><br><br>
<p>
<a class="regular-button" href="https://market.x-cart.com/addons/malabi-background-remover.html"  target="_BLANK" style="background-color:  #bfbfbf;color:white" ><span>More info</span></a>
{{ t(this.processUrls(this.getParam('help')))|raw }}</p>
