{##
 # Instructions form field template
 #}
<div style="text-align: center"> <div  class="alert alert-warning">Make your product images look professional and grow sales.<br> Unlimited images for only 10$ a month.</div></div>

<h2>{{ t(this.getParam('label')) }}</h2>

<br>
<p style="font-size: 19px">{{ t(this.processUrls(this.getParam('help')))|raw }}</p>
<p style="font-size: 19px">2. Receive 'User Id' and 'Access Token', copy and paste them here -</p>